<!DOCTYPE html>
<html>


<!-- Mirrored from www.konnectplugins.com/proclinic/Vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2024 09:15:21 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ProClinic-Bootstrap4 Hospital Admin</title>
	<!-- Fav  Icon Link -->
	<link rel="shortcut icon" type="~/manage/image/png" href="images/fav.png">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="~/manage/css/bootstrap.min.css">
	<!-- themify icons CSS -->
	<link rel="stylesheet" href="~/manage/css/themify-icons.css">
	<!-- Animations CSS -->
	<link rel="stylesheet" href="~/manage/css/animate.css">
	<!-- Main CSS -->
	<link rel="stylesheet" href="~/manage/css/styles.css">
	<link rel="stylesheet" href="~/manage/css/red.css" id="style_theme">
	<link rel="stylesheet" href="~/manage/css/responsive.css">
	<!-- morris charts -->
	<link rel="stylesheet" href="~/manage/charts/css/morris.css">
	<!-- jvectormap -->
	<link rel="stylesheet" href="~/manage/css/jquery-jvectormap.css">

	<script src="~/manage/js/modernizr.min.js"></script>
</head>

<body>
	<!-- Pre Loader -->
	<div class="loading">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!--/Pre Loader -->
	<!-- Color Changer -->
	<div class="theme-settings" id="switcher">
		<span class="theme-click">
			<span class="ti-settings"></span>
		</span>
		<span class="theme-color theme-default" data-color="green"></span>
		<span class="theme-color theme-blue" data-color="blue"></span>
		<span class="theme-color theme-red theme-active" data-color="red"></span>
		<span class="theme-color theme-violet" data-color="violet"></span>
		<span class="theme-color theme-yellow" data-color="yellow"></span>
	</div>
	<!-- /Color Changer -->
	<div class="wrapper">
		<!-- Sidebar -->
		<nav id="sidebar" class="proclinic-bg">
			<div class="sidebar-header">
				<a asp-action="Index" asp-controller="Home" asp-area="Home"><img src="~/manage/images/logo.png" class="logo" alt="logo"></a>
			</div>
			<ul class="list-unstyled components">
				<li class="active">
					<a asp-action="Index" asp-controller="Dashboard" >
						<span class="ti-home"></span> Dashboard
					</a>
					
				</li>
				<li>
					<a href="#nav-patients" data-toggle="collapse" aria-expanded="false">
						<span class="ti-wheelchair"></span> Patients
					</a>
					<ul class="collapse list-unstyled" id="nav-patients">
						<li>
							<a asp-action="Create" asp-controller="Patient">Add Patient</a>
						</li>
						<li>
							<a asp-action="AllPatient" asp-controller="Patient">All Patients</a>
						</li>
						
						
					</ul>
				</li>
				<li>
					<a href="#nav-doctors" data-toggle="collapse" aria-expanded="false">
						<span class="ti-user"></span> Doctors
					</a>
					<ul class="collapse list-unstyled" id="nav-doctors">
						<li>
							<a asp-action="Create" asp-controller="Department">Add Department</a>
						</li>
						<li>
							<a asp-action="AllDeparment" asp-controller="Department">All Department</a>
						</li>
						<li>
							<a asp-action="Create" asp-controller="Doctor">Add Doctor</a>
						</li>

						<li>
							<a asp-action="AllDoctors" asp-controller="Doctor">All Doctors</a>
						</li>						
						
					</ul>
				</li>
				<li>
					<a href="#nav-appointment" data-toggle="collapse" aria-expanded="false">
						<span class="ti-pencil-alt"></span> Appointments
					</a>
					<ul class="collapse list-unstyled" id="nav-appointment">
						
						<li>
							<a asp-action="Index" asp-controller="Appoinment">All Appointments</a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="#nav-payment" data-toggle="collapse" aria-expanded="false">
						<span class="ti-money"></span> Payments
					</a>
					<ul class="collapse list-unstyled" id="nav-payment">
						<li>
							<a asp-action="Create" asp-controller="Category">Add Category(Product)</a>
						</li>
						<li>
							<a asp-action ="AllCategory" asp-controller="Category">All Category(Product)</a>
						</li>
						<li>
							<a asp-action="Create" asp-controller="Product">Add Product</a>
						</li>
						<li>
							<a asp-action="AllProduct" asp-controller="Product">All Product</a>
						</li>
						
					</ul>
				</li>
				<li>
					<a href="#nav-rooms" data-toggle="collapse" aria-expanded="false">
						<span class="ti-key"></span> Users
					</a>
					<ul class="collapse list-unstyled" id="nav-rooms">						
						<li>
							<a asp-action="Index" asp-controller="User">All Users</a>
						</li>
						
					</ul>
				</li>
				<li class="nav-level-one">
					<a href="#nav-uiKit" data-toggle="collapse" aria-expanded="false">
						<span class="ti-layout-tab"></span> Blog
					</a>
					<ul class="list-unstyled collapse" aria-expanded="true" id="nav-uiKit">
						<li>
							<a asp-action="AllBlogs" asp-controller="Blog">All Blogs</a>
						</li>
						<li>
							<a asp-action ="Create" asp-controller="Blog">Add Blog</a>
						</li>
						<li>
							<a asp-action="Create" asp-controller="Faq">Add Question</a>
						</li>
						<li>
							<a asp-action="AllQuestion" asp-controller="Faq"> All Questions</a>
						</li>
					</ul>
				</li>
				
				
			
			</ul>
			<div class="nav-help animated fadeIn">
				<h5><span class="ti-comments"></span> Need Help</h5>
				<h6>
					<span class="ti-mobile"></span> +99412 349 43 87
				</h6>
				<h6>
					<span class="ti-email"></span>zeynebhesenovaa2003@gmail.com
				</h6>
				<p class="copyright-text">Copy rights &copy; 2018</p>
			</div>
		</nav>
		<!-- /Sidebar -->
		<!-- Page Content -->
		<div id="content">
			<!-- Top Navigation -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="responsive-logo">
						<a href="index.html"><img src="~/manage/images/logo-dark.png" class="logo" alt="logo"></a>
					</div>
					<ul class="nav">
						<li class="nav-item">
							<span class="ti-menu" id="sidebarCollapse"></span>
						</li>
						<li class="nav-item">
							<span title="Fullscreen" class="ti-fullscreen fullscreen"></span>
						</li>
						<li class="nav-item">
							<a data-toggle="modal" data-target=".proclinic-modal-lg">
								<span class="ti-search"></span>
							</a>
							<div class="modal fade proclinic-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-lorvens">
									<div class="modal-content proclinic-box-shadow2">
										<div class="modal-header">
											<h5 class="modal-title">Search Patient/Doctor:</h5>
											<span class="ti-close" data-dismiss="modal" aria-label="Close">
											</span>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<input type="text" class="form-control" id="search-term" placeholder="Type text here">
													<button type="button" class="btn btn-lorvens proclinic-bg">
														<span class="ti-location-arrow"></span> Search
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="ti-announcement"></span>
							</a>
							<div class="dropdown-menu proclinic-box-shadow2 notifications animated flipInY">
								<h5>Notifications</h5>
								<a class="dropdown-item" href="#">
									<span class="ti-wheelchair"></span> New Patient Added
								</a>
								<a class="dropdown-item" href="#">
									<span class="ti-money"></span> Patient payment done
								</a>
								<a class="dropdown-item" href="#">
									<span class="ti-time"></span>Patient Appointment booked
								</a>
								<a class="dropdown-item" href="#">
									<span class="ti-wheelchair"></span> New Patient Added
								</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="ti-user"></span>
							</a>
							<div class="dropdown-menu proclinic-box-shadow2 profile animated flipInY">
								<h5>@User.Identity.Name</h5>
								
								<a class="dropdown-item"asp-action="Logout" asp-controller="Account">
									<span class="ti-power-off"></span> Logout
								</a>
							</div>
						</li>
					</ul>

				</div>
			</nav>
			<!-- /Top Navigation -->
        @RenderBody()
			<a id="back-to-top" href="#" class="back-to-top">
				<span class="ti-angle-up"></span>
			</a>
			<!-- /Back to Top -->
			<!-- Jquery Library-->
			<script src="~/manage/js/jquery-3.2.1.min.js"></script>
		
			<!-- Popper Library-->
			<script src="~/manage/js/popper.min.js"></script>
			<!-- Bootstrap Library-->
			<script src="~/manage/js/bootstrap.min.js"></script>
			<!-- morris charts -->
			<script src="~/manage/charts/js/raphael-min.js"></script>
			<script src="~/manage/charts/js/morris.min.js"></script>
			<script src="~/manage/js/custom-morris.js"></script>

			<!-- Custom Script-->
			<script src="~/manage/js/custom.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js"></script>
			<script src="~/manage/js/main.js"></script>
</body>


<!-- Mirrored from www.konnectplugins.com/proclinic/Vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2024 09:15:50 GMT -->
</html>