<!-- Start Hero -->
<section class="bg-half-150 d-table w-100 bg-light">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h3 class="sub-title mb-4">Privacy policy</h3>
                    <p class="para-desc mx-auto text-muted">Great doctor if you need your family member to get effective immediate assistance, emergency treatment or a simple consultation.</p>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-3">
                        <ul class="breadcrumb bg-transparent rounded mb-0">
                            <li class="breadcrumb-item"><a href="index.html">Doctris</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy</li>
                        </ul>
                    </nav>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->
<!-- Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow rounded border-0">
                    <div class="card-body">
                        <h5 class="card-title">Overview :</h5>
                        <p class="text-muted">
                            The mission of the chain of GoldenGate Hospital is to provide a high-level medical service in full compliance with international standards. Our main goals were to provide medical services at the level of modern standards to our people by using the latest achievements of medicine and modern technologies, and to ensure that patients who go to foreign countries for treatment receive all kinds of medical services that have not been implemented in our country so far.

                            In recent years, the investments made in the clinic in order to meet the increasing demand ensure that BMP is the largest private hospital in Azerbaijan. At the point we have reached today, we provide 200 beds, 25 intensive care beds, 15 operating rooms equipped with laminar air flow and 5 maternity rooms, 25 intensive care units for newborns in a closed area of ​​25,000 m2. In the coming period, we will continue to develop the services we provide, aiming at the most advanced standards in the world. We aspire to be the choice of patients who prefer treatment abroad with the highest level of medical services, medical staff trained abroad and invited from abroad, high medical service and the best medical equipment. At BMP Women's and Children's health center, we provide services in many areas, such as general women's health, pregnancy follow-up, high-risk pregnancy follow-up, all kinds of open and laparoscopic gynecological operations. Complications after gynecological operations and difficult problems such as urinary incontinence are mainly treated in our hospital. Also, the Department of Pediatrics and Neonatology provides services at the BMP Women's and Children's Health Center.
                        </p>
                       

                        <h5 class="card-title">We use your information to :</h5>
                        <ul class="list-unstyled text-muted">
                            <li><i data-feather="arrow-right" class="fea icon-sm me-2"></i>The privacy and security of our patients are our highest priorities.</li>
                            <li class="mt-2"><i data-feather="arrow-right" class="fea icon-sm me-2"></i>We are committed to keeping your personal data confidential and using it only for specific purposes.</li>
                            <li class="mt-2"><i data-feather="arrow-right" class="fea icon-sm me-2"></i>We adopt a transparent approach to the collection, use, and protection of your data</li>
                            <li class="mt-2"><i data-feather="arrow-right" class="fea icon-sm me-2"></i>"Your patient information is used solely for treatment purposes and is protected in accordance with legal regulations.</li>
                            <li class="mt-2"><i data-feather="arrow-right" class="fea icon-sm me-2"></i>We respect patient confidentiality and fully comply with privacy-related legal regulations</li>
                            <li class="mt-2"><i data-feather="arrow-right" class="fea icon-sm me-2"></i>When you visit our website, we may use cookies and similar technologies; more information about how these are used can be found in our privacy policy.</li>
                        </ul>

                       

                        <a href="javascript:window.print()" class="btn btn-soft-primary d-print-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1" />
                                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                            </svg> Print
                        </a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
