@using Evergreen_Domain.ViewModel
@{
    Layout = null;
}
@model RegisterVm
<!doctype html>
<html lang="en" dir="ltr">


<!-- Mirrored from shreethemes.in/doctris/layouts/landing/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2024 09:42:02 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Doctris - Doctor Appointment Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="Appointment, Booking, System, Dashboard, Health" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="website" content="https://shreethemes.in/" />
    <meta name="Version" content="v1.4.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="https://shreethemes.in/doctris/layouts/assets/images/favicon.ico">

    <!-- Css -->
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/remixicon/fonts/remixicon.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/%40iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <!-- Style Css-->
    <link href="~/assets/css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />

</head>

<body>
    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader -->

    <div class="back-to-home rounded d-none d-sm-block">
        <a asp-action="Index" asp-controller="Home" class="btn btn-icon btn-primary"><i data-feather="home" class="icons"></i></a>
    </div>

    <!-- Hero Start -->
    <section class="bg-half-150 d-table w-100 bg-light" style="background: url('../assets/images/bg/bg-lines-one.png') center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    <img src="~/assets/images/logo-dark.png" height="22" class="mx-auto d-block" alt="">
                    <div class="card login-page shadow mt-4 rounded border-0">
                        <div class="card-body">
                            <h4 class="text-center">Sign Up</h4>
                            <form method="post" class="user">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for=Name class="form-label">Name <span asp-validation-for="Name" class="text-danger">*</span></label>
                                            <input asp-for=Name class ="form-control" placeholder="Name" required="">
                                            <span asp-validation-for="Name" style="text:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="Surname" class="form-label">Surname <span asp-validation-for="Surname" class="text-danger">*</span></label>
                                            <input asp-for=Surname  class="form-control" placeholder="Surname"  required="">
                                            <span asp-validation-for="Surname" style="text:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="Username" class="form-label">Username <span asp-validation-for="Username" class="text-danger">*</span></label>
                                            <input asp-for=Username class="form-control" placeholder="Username" required="">
                                            <span asp-validation-for="Username" style="text:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="Email" class="form-label">Your Email <span asp-validation-for="Email" class="text-danger">*</span></label>
                                            <input asp-for=Email  class="form-control" placeholder="Email"  required="">
                                            <span asp-validation-for="Email" style="text:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="Password" class="form-label">Password <span asp-validation-for="Password" class="text-danger">*</span></label>
                                            <input asp-for=Password class="form-control" placeholder="Password" required="">
                                            <span asp-validation-for="Password" style="text:red"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="ComfirmPassword" class="form-label">ComfirmPassword <span asp-validation-for="ComfirmPassword" class="text-danger">*</span></label>
                                            <input asp-for=ComfirmPassword  class="form-control" placeholder="ComfirmPassword" required="">
                                            <span asp-validation-for="ComfirmPassword" style="text:red"></span>
                                        </div>
                                        
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div>
                                                <label>
                                                    @Html.RadioButtonFor(model => model.Role, "Patient")
                                                    Patient
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    @Html.RadioButtonFor(model => model.Role, "Doctor")
                                                    Doctor
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mt-3 text-center">
                                        <h6 class="text-muted">Or</h6>
                                    </div><!--end col-->

                                    <div class="col-6 mt-3">
                                        <div class="d-grid">
                                            <a href="javascript:void(0)" class="btn btn-soft-primary"><i class="uil uil-facebook"></i> Facebook</a>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-6 mt-3">
                                        <div class="d-grid">
                                            <a href="javascript:void(0)" class="btn btn-soft-primary"><i class="uil uil-google"></i> Google</a>
                                        </div>
                                    </div><!--end col-->

                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3"><small class="text-dark me-2">Already have an account ?</small> <a asp-action="Register" asp-controller="Account" class="text-dark fw-bold">Sign in</a></p>
                                    </div>
                                </div>
                                <div asp-validation-summary="All"></div>
                            </form>
                        </div>
                    </div><!---->
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->
    <!-- javascript -->
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <!-- Main Js -->
    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins.init.js"></script>
    <script src="~/assets/js/app.js"></script>

</body>


<!-- Mirrored from shreethemes.in/doctris/layouts/landing/signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jun 2024 09:42:02 GMT -->
</html>